<%- include('./head'); %>
<body>
    <%- include('./top'); %>
    TUTAJ ZAWARTOŚĆ STRONY
    <div id="content">
        <h2>Witaj na stronie</h2>
        <p>To jest przykładowa strona stworzona w Node.js z użyciem EJS jako silnika szablonów.</p>
        <p>Możesz edytować ten plik, aby dostosować zawartość strony do swoich potrzeb.</p>
        <p>Wszystkie zmiany będą widoczne po odświeżeniu strony.</p>
        <p>Jeśli masz pytania lub potrzebujesz pomocy, skontaktuj się z nami.</p>
    </div>
    <%- include('footer'); %>