<%- include('./head'); %>
<body>
    <%- include('./top'); %>
    TUTAJ ZAWARTOŚĆ STRONY
    <div id="content">
        <h2>Welcome to the Home Page</h2>
        <p>To do.</p>
    </div>
    <%- include('footer'); %>